<carousel [isAnimated]="true">
  <slide >
   <img src="../../assets/images/banner/slide-1.jpg" alt="first slide" style="display: block; width: 100%;">
   <div class="carousel-caption d-none d-md-block">
    <h1 class="slide-caption-title" >First slide label</h1>
    <p class="slide-caption">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
  </div>
     </slide>
     
  <slide>
    <img src="../../assets/images/banner/slide-2.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h1 class="slide-caption-title" >Second slide label</h1>
      <p class="slide-caption">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/banner/slide-3.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h1 class="slide-caption-title" >Third slide label</h1>
      <p class="slide-caption">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
</carousel>

<!-- <div class="custom_overlay_wrapper"><a href="http://google.com"><img src="http://via.placeholder.com/400x400"><div class="custom_overlay"><span class="custom_overlay_inner"><h4>Title</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget massa a lectus aliquet elementum.</p></span></div></a></div> -->


